@model WebMusic.BLL.DTO.MediaDTO

@{
    ViewBag.Title = "Edit Song";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="formDiv">
    <h1>@Resources.Resource.EditSong</h1>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="validation"></div>
        <div class="inputTextBox">
            <label asp-for="Title" class="label">@Resources.Resource.Title</label>
            <input asp-for="Title" class="allInput" />
            <span asp-validation-for="Title" class="validation"></span>
        </div>
        <div class="inputTextBox">
            <label class="label">@Resources.Resource.Genre</label>

            <select asp-for="id_Genre" class="allInput" asp-items="ViewBag.ListGenre as SelectList"></select>
        </div>
        <div class="inputTextBox">
            <label class="label">@Resources.Resource.Executor</label>

            <select asp-for="id_Executor" class="allInput" asp-items="ViewBag.ListExecutor as SelectList"></select>
        </div>

        <div class="inputTextBox">


            <label asp-for="Path" class="label">@Resources.Resource.Song</label>
            <div class="content">

                <div class="box">
                    <input asp-for="Path" type="file" name="song" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                    <label for="file-1"><img src="~/images/222.png" width="20" height="17" viewBox="0 0 20 17"></img> <span>Choose a song...</span></label>
                </div>

            </div>

        </div>

        <div class="inputTextBox">
            <input type="submit" value="@Resources.Resource.Edit" class="submitButton" />
        </div>
    </form>

</div>
