@model IEnumerable<WebMusic.BLL.DTO.ExecutorDTO>
@{
    ViewData["Title"] = "Executors";
}


@foreach (var item in Model)
{
    <div class="allDiv">
        <ul>
            <li style="font-size: 30px;">
                @Html.DisplayFor(modelItem => item.Name)


            </li>
            <li>

                <a href="#" onclick="event.preventDefault(); document.getElementById('deleteForm_@item.Id').submit();" class="delete-button">@Resources.Resource.Delete</a>
                <label>|</label>
                <a asp-action="EditExecutor" asp-route-id="@item.Id" class="edit-button">@Resources.Resource.Edit</a>
                <form id="deleteForm_@item.Id" asp-area="" asp-controller="Executor" asp-action="Delete" method="post" style="display: none;">
                    <input type="hidden" name="executorId" value="@item.Id" />
                </form>


            </li>
        </ul>
    </div>

   
}

