@model IEnumerable<WebMusic.BLL.DTO.MediaDTO>
@{
    ViewData["Title"] = "Favorite Songs";
}
<div class="quarter-page">

    <a class="href" asp-area="" asp-controller="Home" asp-action="Index">
        <div class="panel-items">
            <div class="panel-img">
                <img src="/images/house.png" width="35px" height="35px" style="margin-left: 7px; margin-bottom: 15px;margin-top: 10px;" />
                @Resources.Resource.Home
            </div>

        </div>
    </a>

    <a class="href" asp-area="" asp-controller="Home" asp-action="Navigation">
        <div class="panel-items">
            <div class="panel-img">
                <img src="/images/compass.png" width="35px" height="35px" style="margin-left: 7px; margin-bottom: 15px;margin-top: 10px;" />
                @Resources.Resource.Navigation
            </div>

        </div>
    </a>
    @if (Context.Session.Keys.Any())
    {
        <a class="href" asp-area="" asp-controller="Home" asp-action="FavoriteSongs">
            <div class="panel-items">
                <div class="panel-img">
                    <img src="/images/HeartBlack.png" width="35px" height="35px" style="margin-left: 7px; margin-bottom: 15px;margin-top: 10px;" />
                    @Resources.Resource.FavoriteSongs
                </div>

            </div>
        </a>
    }


    
</div>

<div class="two-columns">
    @foreach (var item in Model)
    {
        <div class="audio-player">
            <ul>
                <li style="font-size: 26px;">@Html.DisplayFor(modelItem => item.Title)</li>
                <li style="font-size: 22px;">@Html.DisplayFor(modelItem => item.Executor)</li>
            </ul>
            <div class="audio-container">
                <audio controls>
                    <source src="@Html.DisplayFor(modelItem => item.Path)">
                </audio>
                <a href="@Html.DisplayFor(modelItem => item.Path)" class="download-button" download>
                    <img src="/images/222.png" width="15px" height="15px" />
                </a>
                @if (Context.Session.Keys.Any())
                {
                    <a class="download-button" style="background-color: #A32305;" asp-controller="Home" asp-action="AddFavSong" asp-route-id="@item.Id">
                        <img src="/images/HeartBlack.png" width="15px" height="15px" />
                    </a>
                }

            </div>

            <div class="action-links">

                <a href="#" onclick="event.preventDefault(); document.getElementById('deleteForm_@item.Id').submit();" class="delete-button">@Resources.Resource.Delete</a>

                <form id="deleteForm_@item.Id" asp-area="" asp-controller="Home" asp-action="DeleteSong" method="post" style="display: none;">
                    <input type="hidden" name="id" value="@item.Id" /> <!-- Используйте item.Id здесь -->
                </form>

              
             
            </div>

        </div>
    }
</div>