@model IEnumerable<WebMusic.BLL.DTO.MediaDTO>
@{
    ViewData["Title"] = "fff";
}

@foreach (var item in Model)
{
    <ul>
        <li>
            @Html.DisplayFor(modelItem => item.Title)
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.Genre)
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.Executor)
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.Id_User)
        </li>
        
        @* <div id="poster"><img src=@item.Path /></div> *@
       
    </ul>
    <audio controls>
        <source src="@Html.DisplayFor(modelItem => item.Path)">
    </audio>
    @if (Context.Session.GetInt32("Status") == 3)
    {
        <a href="#" onclick="event.preventDefault(); document.getElementById('deleteForm_@item.Id').submit();">Delete</a>
        <label>|</label>
        <a asp-action="EditSong" asp-route-id="@item.Id">Edit</a>
        <form id="deleteForm_@item.Id" asp-area="" asp-controller="Media" asp-action="DeleteSong" method="post" style="display: none;">
            <input type="hidden" name="songId" value="@item.Id" />
        </form>


    }
}