@model IEnumerable<WebMusic.BLL.DTO.MediaDTO>

<div class="quarter-page">

    <a class="href" asp-area="" asp-controller="Home" asp-action="Index">
        <div class="panel-items">
            <div class="panel-img">
                <img src="/images/house.png" width="35px" height="35px" style="margin-left: 7px; margin-bottom: 15px;margin-top: 10px;" />
                @Resources.Resource.Home
            </div>

        </div>
    </a>

    <a class="href" asp-area="" asp-controller="Home" asp-action="Navigation">
        <div class="panel-items">
            <div class="panel-img">
                <img src="/images/compass.png" width="35px" height="35px" style="margin-left: 7px; margin-bottom: 15px;margin-top: 10px;" />
                @Resources.Resource.Navigation
            </div>

        </div>
    </a>



</div>
<h1 style="color: white"></h1>
<div class="two-columns">
    @foreach (var item in Model)
    {
        <div class="audio-player">
            <ul>
                <li style="font-size: 26px;">@Html.DisplayFor(modelItem => item.Title)</li>
                <li style="font-size: 22px;">@Html.DisplayFor(modelItem => item.Executor)</li>
            </ul>
            <div class="audio-container">
                <audio controls>
                    <source src="@Html.DisplayFor(modelItem => item.Path)">
                </audio>
                <a href="@Html.DisplayFor(modelItem => item.Path)" class="download-button" download>
                    <img src="/images/222.png" width="15px" height="15px" />
                </a>
            </div>

        </div>
    }
</div>
